.logo
  RCVR
.content
  %form.video_download{:method => :get, :action => "/youtube/audio"}
    .field.text
      %label
        Enter a YouTube ID or URL
      %span.note
        .examples
          %h3 Examples
          .example
            ="http://www.youtube.com/watch?v=RxLY9l5Fmmc"
          .example
            ="http://www.youtube.com/v/RxLY9l5Fmmc"
          .example 
            ="RxLY9l5Fmmc"
          .example 
            ="You can also try search terms (ex. Nirvana Territorial Pissings)"
      %input{:type => :text, :length => 50, :name => :search_query}
    .field.submit
      %input{:type => :submit, :value => "Download Audio"}