!!!
%html
  %head
    %title= "You Dun Downloaded Some Shit"
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :charset => "utf-8", :media => "screen"}/
    %script{:type => "text/javascript", :src => "/javascripts/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascripts/progress.js"}
  %body
    = yield