body
  padding: 0
  margin: 0
  font-family: "Arial"


label
  .note
    display: inline
    color: #ccc
    font-size: 0.75em

.content
  padding: 10px

#home
  .header
    display: none
  .logo
    font-weight: bold
    color: #41c3f4
    margin-top: 40px
    text-align: center
    font-size: 5em
    letter-spacing: -0.06em
    
.header
  padding: 7px 10px
  background: #000
  border-width: 0 0 2px 0
  border-color: #444
  border-style: solid
  .logo
    font-weight: bold
    display: inline
    color: #fff
    font-size: 1.2em
    text-transform: uppercase
    
  .search
    float: right
    .text
      width: 30em
      padding: 3px
    .submit
      cursor: pointer
      padding: 2px
    input
      font-weight: bold
      border: solid 0px #ccc
    *
      display: inline
  .nav
    display: none
    position: absolute
    top: 0px
    right: 0px
    background: #000
    font-size: 0.8em
    a
      color: #fff
      padding: 0.5em
      text-decoration: none

.footer
  border-width: 1px 0 0 0
  border-color: #aaccff
  border-style: solid
  background: #fafaff
  position: absolute
  width: 100%
  bottom: 0
  left: 0
  .recents
    h3
      display: inline
      color: #4183C4
      margin: 0 0 0.5em 0
      font-weight: bold
    padding: 5px
    border-width: 0 0 0 0
    border-style: solid
    border-color: #000
    font-size: 0.7em
    .recent
      display: inline
      a
        text-decoration: none
        padding: 3px
        background: none
        color: #4183C4
        font-weight: normal
        border-width: 0
        border-color: #000
        border-style: solid
      a:hover
        background: #81b3ff
        color: #fff

.downloading
  .track_info
    margin: 10px 30px 0 0
    h3
      color: #666
      margin: 5px 0 0px 10px
    -moz-border-radius: 10px
    border-radius: 10px
    font-size: 0.8em
    color: #999
    width: 300px
    .thumb
      img
        width: 64px
        height: 64px
      float: left
      margin: 10px
      border: solid 5px #ccc
    .values
      margin: 15px 10px 0 10px
      float: left
    float: right
    background: #fafafa
    padding: 5px
    .entry
      margin: 0 0 8px 0
    .title
      color: #aaa
      display: block
      float: left
      width: 50px
    .value
      font-weight: bold
      a
        color: #666
  h1
    letter-spacing: -0.06em
    .thumb
      width: 120px
      height: 90px
      border: solid 5px #ddd
      margin: 0 10px 0 0
    .intro
      display: none
    .title
      position: relative
      top: -60px
      color: #666
    .video_id
      letter-spacing: -0.02em
      position: relative
      top: -63px
      font-size: 0.5em
      color: #ccc
  .controls
    position: relative
    left: 150px
    top: -70px
    width: 500px
    background: #fafafa
    padding: 7px
    #retag
      background: #cde
    #retag:hover
      background: #48f
    #redownload
      background: #edc
    #redownload:hover
      background: #f84
    #reprocess
      background: #ced
    #reprocess:hover
      background: #4f8
    input
      padding: 4px
      border: none
      background: #ccc
      color: #fff
      -moz-border-radius: 3px
      border-radius: 3px
      text-transform: capitalize
      cursor: pointer
      margin: 0 10px 0 0
    input:hover
      background: #999 
  .links
    margin: 60px 0 0 0
    div
      margin: 1em 0 0 0
    .label
      color: #aaa
      padding: 0 20px 0 0
    a
      color: #4183C4
      font-weight: bold
  .status
    width: 500px
    text-align: left
    color: #aaa
    margin: -20px 0 0 0
    .downloading
      color: orange
      border-color: orange
    .converting
      color: pink
      border-color: pink
    .completed
      color: green
      border-color: green
    span
      border: solid 2px #ccc
      font-weight: bold
      margin: 1em 0
      text-transform: uppercase
      font-size: 0.7em
      padding: 3px
      display: inline
  .progress
    margin: 0.2em 0
    font-weight: normal
    font-size: 6em
    color: #333
    .percent_sign
      font-size: 0.5em
      padding: 0 0 0 6px
      color: #555

.video_download
  width: 500px
  margin: 10px auto auto auto
  border: solid 10px #41c3f4
  padding: 30px

  .field
    margin: 0 0 10px 0
    width: auto
    text-align: center

    .examples
      font-size: 0.7em
      text-align: center
      margin: 20px 0
      h3
        display: none
        color: #999
        margin: 1em 0 0.5em 0
        font-weight: normal
      .example
        margin: 0.5em 0 0 0
        color: #41c3f4


    label
      letter-spacing: -0.05em
      margin: 0 0 10px 0
      display: block
      font-weight: bold
      font-size: 1.5em
      color: #41c3f4
      text-align: center

  .text
    input
      font-weight: bold
      font-size: 1em
      width: 90%
      margin: auto
      border: solid 1px #41c3f4
      padding: 5px

  .submit
    text-align: right
    margin: 20px 0 0 0
    input
      border: solid 2px #61a3ff
      color: #fff
      font-weight: bold
      background: #81b3ff
      padding: 5px
      cursor: pointer


  